html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
select,
table,
tr,
th,
td,
dfn,
em,
{
    margin: 0;
    padding: 0
}

html {
    min-height: 100%;
    background: #fff;
    border: none;
}

body {
    font: 12px/1.5em tohoma, arial, simsun, sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}


img {
    border: none;
    vertical-align: middle;
}

ul,
ol {
    list-style-type: none;
}

button,
input,
select,
{
    font: 12px/1.5em tohoma, arial, simsun, sans-serif;
    outline: none;
}

button,
input,
select {
    vertical-align: middle;
}

button,
{
    cursor: pointer;
}


table {
    border-collapse: separate;
}

a:link,
a:visited {
    text-decoration: none;
    outline: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}



body {
    color: #666;
}

a:link,
a:visited {
    color: #666
}



a:hover,
a:active {
    color: #0066FF;
}





.sl_sitenav {
    height: 29px;
    background: url(../images/sl_sitenav_bg.png) repeat-x 0 0;
    position: relative;
    z-index: 990;
    min-width: 1200px;
    border-bottom: solid 1px #ccc;
    zoom: 1
}

.sl_sitenav_bd {
    display: block;
    width: 1200px;
    margin: 0 auto;
    clear: both;
    position: relative
}

.sl_sitenav .loginReg {
    padding-top: 2px;
    line-height: 25px;
    float: left;
    width: 400px;
}


.sl_sitenav .loginReg .login .curr {
    background: #C8012C;
    color: #FFF
}

.sl_sitenav .loginReg .login .curr:hover {
    color: #FFF;
    text-decoration: none
}

.sl_sitenav .loginReg .logined a {
    color: #0066ff;
}

.sl_sitenav .loginReg .logined a:hover {
    color: #C7012C;
}

.sl_sitenav .quickmenu {
    float: right;
    padding-top: 2px;
    line-height: 25px;
    *width: 484px;
}

.sl_sitenav .myacount {
    float: left;
    width: 82px;
    margin-right: 8px
}

.sl_sitenav .myacount .menu {
    position: relative;
    height: 25px;
    zoom: 1;
    padding: 0 0 0 10px;
    width: 70px;
    z-index: 992;
}

.sl_sitenav .myacount .menu_hd b {
    position: absolute;
    right: 6px;
    top: 10px;
    display: block;
    width: 10px;
    height: 5px;
    overflow: hidden;
    background: url(../images/sl_sitenav.png) no-repeat 0 0px;
    cursor: pointer;
}

.sl_sitenav .myacount .menu_hd span {
    position: absolute;
    right: -2px;
    top: 8px;
    display: block;
    width: 2px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav.png) no-repeat -10px 0;
}

.sl_sitenav .myacount .menu_bd {
    display: none;
    border: 1px solid #CCC;
    background: #FFF;
    border-top-width: 0;
    width: 58px;
    padding: 0 10px;
    position: absolute;
    top: 26px;
    left: -1px;
    zoom: 1
}

.quickmenu .menu:hover .menu_bd {
    display: block;
}

.sl_sitenav .myacount .menu_bd a:hover {
    color: #B40000;
    display: block;
}

.sl_sitenav .myacount .menu_bd_curr {
    display: block;
    border: 1px solid #CCC;
    border-bottom-width: 0;
    background: #FFF;
    padding-left: 9px;
    margin-top: -3px;
    padding-top: 2px
}

.sl_sitenav .myacount .menu_bd_curr b {
    top: 12px;
    _right: 5px
}

.sl_sitenav .myacount .menu_bd_curr .menu_bd_curr {
    top: 26px;
    border-bottom-width: 1px;
    padding-left: 11px
}

.sl_sitenav .myacount .menu_bd_curr .menu_hd span {
    background: none;
}

.sl_sitenav .mobile {
    float: left;
    width: 68px;
    padding-left: 18px;
    position: relative;
}

.sl_sitenav .mobile b {
    position: absolute;
    right: 10px;
    top: 8px;
    display: block;
    width: 2px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav1.png) no-repeat -10px 0;
}

.sl_sitenav .mobile .icon {
    position: absolute;
    left: 0;
    top: 6px;
    display: block;
    width: 10px;
    height: 14px;
    overflow: hidden;
    background: url(../images/sl_sitenav1.png) no-repeat -40px 0;
    cursor: pointer;
    *top: 5px;
}

.sl_sitenav .help {
    float: left;
    width: 68px;
    position: relative;
}

.sl_sitenav .help b {
    position: absolute;
    right: 10px;
    top: 8px;
    display: block;
    width: 2px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav.png) no-repeat -10px 0;
}

.sl_sitenav .collection {
    float: left;
    width: 66px;
    position: relative;
}

.sl_sitenav .collection b {
    position: absolute;
    right: 6px;
    top: 8px;
    display: block;
    width: 2px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav.png) no-repeat -10px 0;
}

.sl_sitenav .enterprise {
    float: left;
    width: 66px;
    position: relative;
}

.sl_sitenav .enterprise b {
    position: absolute;
    right: 6px;
    top: 8px;
    display: block;
    width: 2px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav_1.png) no-repeat -10px 0;
}

.sl_sitenav .tel {
    float: right;
    *width: 88px;
    text-align: right;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    font-family: simsun;
    line-height: 26px;
}

.sl_sitenav .tel b {
    position: absolute;
    left: 0px;
    top: 7px;
    display: block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav_2.png) no-repeat -20px 0;
}



.sl_header {
    display: block;
    margin: 0 auto;
    clear: both;
    margin-bottom: 10px;
    height: 40px;
    padding: 100px 0 0;
    position: relative;
    z-index: 90
}

.sl_header .logo {
    position: absolute;
    top: 12px;
    left: 15px;
    margin-left: -598px;
}

.sl_header .logo a {
    display: block;
    width: 300px;
    height: 88px;
    overflow: hidden;
    background: url(../images/logo_new.png) no-repeat 0 0px;
    line-height: 400px;
}


.sl_header .tsearch {
    position: absolute;
    left: 330px;
    top: 22px;
    width: 520px;
    height: 30px;
    border: solid 5px #E9E9E9;
    zoom: 1;
}

.sl_header .tsearch_con {
    height: 28px;
    border: solid 1px #AE0001;
    width: 438px;
    float: left;
    overflow: hidden;
}

.sl_header .tsearch_txt {
    height: 28px;
    line-height: 28px;
    padding: 0 6px;
    width: 424px;
    font-size: 14px;
    border: none 0;
    background: none;
    color: #CCC
}

.sl_header .tsearch_txt_focus {
    color: #333
}

.sl_header .tsearch_btncon {
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background: #C7012C;
}

.sl_header a.tsearch_btn {
    display: block;
    width: 80px;
    height: 30px;
    border: none 0;
    background: #C7012C;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    color: #fff;
    cursor: pointer;
    outline: none;
}

.sl_header a.tsearch_btn:hover {
    text-decoration: none;
}

.sl_header .tkeywords {
    position: absolute;
    left: 335px;
    top: 62px;
    width: 450px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
}

.sl_header .tkeywords a {
    margin-right: 4px;
    white-space: nowrap;
}


.sl_header .rt {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 20px;
    right: 30px;
    overflow: hidden;
}

.sl_header .rt a:hover {
    text-decoration: none;
}

.sl_headerbar {
    height: 40px;
    position: relative;
    z-index: 90;
    background: #C7012C url(../images/sl_header32.png) no-repeat right -40px;
    padding-right: 10px;
}



.sl_header .category {
    float: left;
    width: 230px;
    background: url(../images/sl_header32.png) no-repeat 0 0;
    position: absolute;
    left: 50%;
    margin-left: -598px
}

.sl_header .category_hd a {
    display: block;
    position: relative;
    width: 205px;
    height: 40px;
    overflow: hidden;
    padding-left: 25px;
    line-height: 40px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #fff;
    letter-spacing: 1px;
}

.sl_header .category_hd a:hover {
    color: #fff;
    text-decoration: none;
}

.sl_header .category_hd a b {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../images/sl_header_v2.png) no-repeat -20px 0;
}

.sl_header .category_bd {
    background: #FFEFE0;
    border: solid 1px #C7022D;
    border-top: 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 228px;
    display: none;
}

.sl_header .category_item {
    width: 228px;
    position: relative;
    height: 51px;
    z-index: 94;
    margin-bottom: -1px;
    zoom: 1;
}

.sl_header .category_item_title {
    height: 44px;
    padding: 2px 0 5px 1px;
    line-height: 44px;
    background: url(../images/sl_header_category_line.png) no-repeat 9px 49px;
    width: 229px;
    position: absolute;
    top: 1;
    left: 00;
    z-index: 99;
}

.sl_header .category_item_title a {
    background: url(../images/sl_header_icon.png) no-repeat 22px -32px;
    padding-left: 30px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #000;
}

.sl_header .category_item_title a:visited {
    color: #000
}

.sl_header .category_item_title a:hover {
    color: #C7012C
}

.sl_header .category_zonghe .category_item_title {
    background: none;
}

















/* ------ hover  ----------- */

.sl_header .category_hover {
    z-index: 96;
}

.sl_header .category_hover .category_item_title {
    border: solid 2px #C7022D;
    border-right: none;
    border-left-width: 1px;
    padding: 0 0 0 0px;
    background: #fff;
    zoom: 1
}

.sl_header .category_hover .category_item_title b {
    display: none;
}


.sl_header .category_item_content {
    border: solid 2px #C7022D;
    position: absolute;
    left: 228px;
    width: 705px;
    padding: 10px 10px 0 15px;
    z-index: 97;
    display: none;
    background: #fff url(../images/sl_header_category_bg.png) repeat-y right 0;
    overflow: hidden;
}



.sl_header .mainnav {
    float: left;
    width: 740px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -410px;
}

.sl_header .mainnav a {
    display: block;
    padding: 0 20px;
    letter-spacing: 2px;
    float: left;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    line-height: 40px;
    color: #fff;
    margin-right: 0px;
    background: url(../images/sl_header_icon.png) no-repeat 0 13px;
    zoom: 1;
}


.sl_header .mainnav a.home {
    background: #C7012C;
}

.sl_header .mainnav a:hover {
    text-decoration: none;
    color: #FDCA30;
}

.sl_header .mainnav a.curr {
    background: #FFA914;
    z-index: 2;
}

.sl_header .mainnav a.curr:hover {
    color: #fff;
}

.sl_header .icon_hot a:hover {
    position: absolute;
    top: 2px;
    right: 0px;
    width: 15px;
    height: 22px;
    overflow: hidden;
    background: url(../images/sl_header_zan.png) no-repeat 0 0;
    z-index: 222;
}

.sl_header .icon_new {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 15px;
    height: 22px;
    overflow: hidden;
    background: url(../images/sl_header_new.gif) no-repeat 0 0;
}

.sl_header .icon_hot {
    position: absolute;
    top: 3px;
    right: 1px;
    width: 15px;
    height: 22px;
    overflow: hidden;
    background: url(../images/sl_header_zan.png) no-repeat 100% 0;
    z-index: 222;
}

.icon_hot {
    animation: myfirst 1s infinite;
}

@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


.ui_crumb {
    height: 30px;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
    line-height: 30px;
    padding-left: 10px;
    *zoom: 1;
}

.ui_crumb dt {
    float: left;
    padding-right: 10px;
}

.ui_crumb dd {
    float: left;
    padding: 0 10px 0 15px;
    background: url(../images/ui_icon.png) no-repeat 0 -250px;
}

.ui_crumb dd strong {
    font-weight: normal;
    color: #999;
}



.sl_header .tcart {
    position: absolute;
    left: 50%;
    width: 217px;
    height: 27px;
    line-height: 27px;
    margin-top: 6px;
    margin-left: 390px;
    background: url(../images/sl_header.jpg) 0 -40px;
}

.sl_header .tcart_check {
    float: left;
    width: 72px;
}

.sl_header .tcart_check a {
    color: #C7012C;
    padding-left: 10px;
    font-family: simsun;
    color: #fff;
}

.sl_header .tcart_check a:hover {
    color: #fff;
    text-decoration: none;
}

.sl_header .tcart_pro {
    width: 145px;
    float: left
}

.sl_header .tcart_pro_hd {
    display: block;
    width: 100px;
    height: 25px;
    padding-left: 45px;
    color: #333;
    position: relative;
}

.sl_header .tcart_pro_hd:hover {
    color: #333;
    text-decoration: none;
}

.sl_header .tcart_pro_hd em {
    color: #C8012C;
    font-weight: bold;
    margin: 0 2px;
}

.sl_header .tcart_pro_hd b {
    position: absolute;
    width: 7px;
    height: 4px;
    background: url(../images/sl_header.png?v=0516) no-repeat -30px -68px;
    left: 110px;
    top: 12px;
}

.sl_header .tcart_drop {
    position: absolute;
    top: 31px;
    width: 217px;
    right: 9px;
    padding: 6px 0 5px;
    border: 1px solid #C7012C;
    background: #fff;
    overflow: hidden;
    display: none;
}

.sl_header .tcart_drop_curr {
    display: block
}

.sl_header .mycart_pro {
    position: relative;
    padding: 6px 10px 4px 60px;
    zoom: 1;
    overflow: hidden;
}

.sl_header .mycart_pro .ui_pimg {
    width: 47px;
    height: 47px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.sl_header .mycart_pro .ui_pimg .img {
    width: 45px;
    height: 45px;
    border-color: #ccc;
}

.sl_header .mycart_pro .ui_pattribute li {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.sl_header .mycart_pro .ui_pname {
    height: 18px;
}

.sl_header .mycart_pro .ui_pprice_e em,
.sl_header .mycart_pro .ui_pprice_e b {
    font-size: 14px;
}

.sl_header .mycart_pro .delete {
    text-align: right;
}

.sl_header .mycart_pro .delete a {
    color: #999;
    text-decoration: underline;
}

.sl_header .mycart_pro .delete a:hover {
    color: #0066ff;
}

.sl_header .mycart_pro_hover {
    background: #ffffcc
}

.sl_header .mycart_total {
    border-top: 1px dotted #cccccc;
    padding: 5px 10px
}

.sl_header .mycart_total span {
    margin-right: 10px;
}

.sl_header .mycart_total em {
    color: #c7012c;
    font-weight: bold;
}

.sl_header .mycart_total em b {
    font-weight: bold;
}

.sl_header .mycart_pay {
    padding-bottom: 6px;
}

.sl_header .mycart_pay a {
    display: block;
    width: 110px;
    height: 31px;
    line-height: 31px;
    padding: 0 0 0 10px;
    background: #C60029 url(../images/sl_header.jpg) no-repeat 0 -67px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    margin: 0 auto;
}

.sl_header .mycart_pay a:hover {
    color: #FFF;
    text-decoration: none;
}

.sl_header .mycart_pay a span {
    display: block;
    width: 100px;
    height: 31px;
    padding-right: 10px;
    background: url(../images/sl_header.jpg) no-repeat right -67px;
    text-align: center;
    cursor: pointer;
}

.sl_header .mycart_nopro {
    text-align: center;
    color: #C8012C;
    height: 30px;
    line-height: 30px;
    padding-top: 8px;
}



.sl_wrapper,
.sl_area {
    display: block;
    width: 1200px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 10px;
    font-family: "Microsoft Yahei";
}

.sl_colsub {
    float: left;
    width: 230px;
    margin-right: 10px;
}

.sl_colmain {
    float: right;
    width: 960px;
}

.sl_colwrapmain {
    float: left;
    width: 720px;
}

.sl_colextra {
    float: right;
    width: 230px;
}




.sl_footer {
    display: block;
    width: 1200px;
    margin: 0 auto;
    clear: both;
    padding-bottom: 20px;
}

.sl_footer .kouhao {
    height: 47px;
    overflow: hidden;
    line-height: 400px;
    margin-bottom: 20px;
    background: url(../images/sl_footer.png) no-repeat 0 0;
}

.sl_footer .service {
    float: left;
    width: 250px;
    padding-top: 20px;
    color: #999;
}

.sl_footer .service_tel {
    padding-left: 35px;
    line-height: 24px;
    vertical-align: middle;
}

.sl_footer .service_tel strong {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    font-family: arial;
}

.sl_footer .service_time {
    position: relative;
    padding-top: 6px;
    padding-left: 100px;
    zoom: 1;
}

.sl_footer .service_time .icon {
    position: absolute;
    left: 40px;
    top: 8px;
    width: 52px;
    height: 50px;
    background: url(../images/sl_footer.png) no-repeat 0 -47px;
}

.sl_footer .service_online {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
}

.sl_footer .service_online em {
    margin-left: 10px;
    font-size: 15px;
    font-family: "Microsoft Yahei";
}

.sl_footer .service_online a,
.sl_footer .service_online a:visited {
    color: #c7120c;
    text-decoration: underline;
}

.sl_footer .service_time .time {
    padding-top: 8px;
}

.sl_footer .service_time .time em {
    color: #FF6600;
}

.sl_footer .service_guide {
    float: right;
    width: 900px;
    margin-bottom: 20px;
}

.sl_footer .service_guide dl {
    float: left;
    width: 164px;
    height: 150px;
    border-left: solid 1px #ddd;
    padding-left: 15px;
}

.sl_footer .service_guide dt {
    height: 22px;
    line-height: 22px;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: "Microsoft Yahei", simhei;
    color: #000;
}

.sl_footer .service_guide dd {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.sl_footer .service_guide dd a:link,
.sl_footer .service_guide dd a:visited {
    color: #999;
}

.sl_footer .service_guide dd a:hover {
    color: #0066ff;
}

.sl_footer .service_guide dd .new {
    background: url(../images/new.gif) no-repeat;
    padding-top: 3px;
    margin-left: 5px
}

.sl_footer .copyright_con {
    position: relative;
    zoom: 1
}

.sl_footer .link {
    overflow: hidden;
}

.sl_footer .link li {
    float: left;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    background: url(../images/sl_footer.png) no-repeat right -75px;
}

.sl_footer .link .last {
    background: none;
}

.sl_footer .copyright {
    color: #999;
    padding-left: 10px;
    padding-top: 2px;
}

.sl_footer .copyright a,
.sl_footer .copyright a:visited {
    color: #999;
}

.sl_footer .copyright a:hover {
    color: #0066ff;
}

.sl_footer .zhengshu {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.sl_footer .zhengshu .img {
    margin-left: 10px;
}




.ui_pimg {
    display: block;
    width: 130px;
    height: 130px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: #fff url(../images/ui_pro_loading.gif) center center;
    position: relative;
}

.ui_pimg .img {
    display: table-cell;
    width: 130px;
    height: 130px;
    background: #fff;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: url(../images/ui_pro_loading.gif) center center
}

.ui_pimg a.img:hover {
    text-decoration: none;
}

.ui_pimg75 {
    width: 75px;
    height: 75px;
    position: relative;
    background: #fff url(../images/ui_pro_loading.gif) center center;
}

.ui_pimg75 .img {
    width: 75px;
    height: 75px;
}

.ui_pname {
    line-height: 18px;
    overflow: hidden;
    white-space: normal;
}

.ui_price b,
.ui_pprice_m b,
.ui_pprice_e b {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.ui_pprice {
    overflow: hidden;
}

.ui_pprice_m del {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.ui_pprice_e b {
    color: #c7012c;
    font-weight: bold;
    font-size: 16px;
}

.ui_pprice_e em {
    font-size: 16px;
    color: #c7012c;
    font-weight: bold;
}

.ui_pattribute {
    display: block;
}

.ui_promtn {
    color: #ff9900;
    white-space: normal;
    overflow: hidden;
}

.ui_proicon_fh {
    position: absolute;
    width: 39px;
    height: 39px;
    overflow: hidden;
    background: url(../images/ui_pro_icon.png) no-repeat 0 0;
    right: 6px;
    top: 5px;
    line-height: 400px;
}

.ui_proicon_fh_sj {
    position: absolute;
    width: 38px;
    height: 34px;
    overflow: hidden;
    background: url(../images/shang.png) no-repeat 0 0;
    right: 0px;
    top: 0px;
    line-height: 400px;
}

.ui_proicon_fh1_sj {
    position: absolute;
    width: 29px;
    height: 26px;
    overflow: hidden;
    background: url(../images/shang1.png) no-repeat 0 0;
    right: 0px;
    top: 0px;
    line-height: 400px;
}

.ui_proicon_fhsmall {
    position: absolute;
    width: 29px;
    height: 26px;
    overflow: hidden;
    right: 2px;
    top: 2px;
    line-height: 400px;
    background: url(../images/ui_pro_icon.png) no-repeat -39px 0;
}

.ui_proicon_hot,
.ui_proicon_zhijiang,
.ui_proicon_tejia,
.ui_proicon_new {
    position: absolute;
    width: 40px;
    height: 52px;
    overflow: hidden;
    background: url(../images/ui_pro_icon2.png) no-repeat 0 -52px;
    left: 0px;
    top: 5px;
    line-height: 200px;
    cursor: pointer;
}

.ui_proicon_zhijiang {
    background-position: 0 0px;
}

.ui_proicon_tejia {
    background-position: 0 -104px;
}

.ui_proicon_hot {
    background-position: 0 -157px;
}


.ui_psaleout {
    position: absolute;
    width: 90px;
    height: 90px;
    overflow: hidden;
    background: url(../images/ui_saleout.png) no-repeat 0 0;
    line-height: 100px;
    right: 0;
    bottom: 0;
}

.ui_pro_360 {
    position: absolute;
    width: 38px;
    height: 38px;
    right: 3px;
    top: 3px;
    overflow: hidden;
    background: url(../images/ui_ico.png) no-repeat 0 -80px;
}


.ui_psorce {
    display: block;
    width: 85px;
    height: 16px;
    overflow: hidden;
    background: url(../images/ui_psorce.png) no-repeat 0 0;
}

.ui_psorce em {
    display: block;
    width: 85px;
    height: 16px;
    overflow: hidden;
    background: url(../images/ui_psorce.png) no-repeat 0 -16px;
}


.ui_pro {
    float: left;
    width: 170px;
    display: inline;
}

.ui_pro .ui_pimg {
    padding: 20px;
}

.ui_pro .ui_pname {
    height: 36px;
}

.ui_pro .ui_promtn {
    height: 18px;
    margin-bottom: 6px;
}

.ui_pro .ui_pprice {
    height: 18px;
}

.ui_pro .ui_pprice_e {
    margin-right: 10px;
}



.ui_pro .op {
    overflow: hidden;
    padding-top: 8px;
    zoom: 1;
}

.ui_pro a.ui_pbtn_ksgm {
    float: left;
    margin-right: 5px;
}

.ui_pro a.ui_pbtn_cart {
    float: left;
}

.ui_pro a.ui_pbtn_ksgm,
.ui_pro a.ui_pbtn_waiting {
    float: left;
    margin-right: 5px;
}

.ui_pro a.ui_pbtn_cart,
.ui_pro a.ui_pbtn_collect {
    float: left;
}















.ui_slide {
    width: 720px;
    height: 240px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.ui_slide_panel {
    position: relative;
    left: 0;
    top: 0;
    height: 240px;
    overflow: hidden;
}

.ui_slide_item {
    display: block;
    width: 720px;
    height: 240px;
    overflow: hidden;
    float: left;
}

.ui_slide_triggers {
    position: absolute;
    right: 8px;
    top: 10px;
}

.ui_slide_triggers li {
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-left: 2px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    background: url(../images/ui_bg32.png) no-repeat 0 -20px;
    _background: url(../images/ui_bgie6.png) no-repeat 0 -20px;
    *width: 18px;
    *padding-left: 2px;
}

.ui_slide_triggers li.curr {
    color: #FFF;
    background: url(../images/ui_bg32.png) no-repeat 0 0;
    _background: url(../images/ui_bgie6.png) no-repeat 0 0;
}





---------------------------------------- */ .ui_tips {
    line-height: 19px;
    padding: 2px 6px;
    border: solid 1px #FFE9C4;
    color: #FF9900;
    background: #fff;
    margin-bottom: 6px;
}



.ui_page {
    overflow: hidden;
    zoom: 1;
    padding-right: 6px;
    line-height: 31px;
    height: 31px;
    margin-bottom: 20px;
}

.ui_pagewrap {
    float: right;
    padding-left: 1px;
}

.ui_page a,
.ui_page span {
    float: left;
}

.ui_page a,
.ui_page span.curr {
    display: block;
    min-width: 30px;
    _width: 30px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    text-align: center;
    border: solid 1px #ddd;
    font-family: simsun;
    font-size: 16px;
    margin-left: -1px;
    background: #fff;
}

.ui_page a:visited {
    color: #666;
}

.ui_page a:hover {
    color: #333;
    text-decoration: none;
}

.ui_page a.pre,
.ui_page a.next {
    font-size: 12px;
    width: 55px;
}

.ui_page a.next1 {
    font-size: 12px;
    width: 55px;
}

.ui_page a.next2 {
    font-size: 12px;
    width: 55px;
}

.ui_page a.curr,
.ui_page span.curr,
.ui_page a.dis {
    background: #EFEFEF;
    color: #999;
    cursor: default;
}

.ui_page a.next[disabled] {
    background: #EFEFEF;
    color: #999;
    cursor: default;
}

.ui_page a.next1[disabled] {
    background: #EFEFEF;
    color: #999;
    cursor: default;
}

.ui_page a.next2[disabled] {
    background: #EFEFEF;
    color: #999;
    cursor: default;
}

.ui_page a.curr:visited,
.ui_page a.dis:visited {
    color: #999;
}

.ui_page a.curr:hover,
.ui_page a.dis:hover {
    color: #999;
}

.ui_page .points {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    letter-spacing: 3px;
    padding: 0 10px 0 5px;
}

.ui_page .morepoints {
    font-size: 16px;
    color: #999;
    letter-spacing: 3px;
    padding: 0 10px 0 5px;
    border: 0px;
    background: none;
    font-family: Times New Roman;
    font-weight: bold
}

.ui_page .num {
    font-size: 12px;
    color: #999;
    padding: 0 0 0 10px;
}

.ui_page .change {
    padding-top: 3px;
    line-height: 23px;
    font-size: 12px;
    color: #999;
    vertical-align: middle;
}

.ui_page .txt {
    width: 30px;
    height: 21px;
    border: solid 1px #ddd;
    margin: 0 2px 0 5px;
    text-align: center;
}

.ui_page .btn {
    width: 40px;
    height: 23px;
    overflow: hidden;
    border: none 0;
    background: url(../images/ui_page.gif) no-repeat 0 0;
    color: #666;
    cursor: pointer;
}

.ui_pageSmall {
    overflow: hidden;
    zoom: 1;
    line-height: 21px;
}

.ui_pageSmall .num {
    display: inline-block;
    margin-right: 5px;
}

.ui_pageSmall .num em {
    color: #c7012c;
}

.ui_pageSmall a {
    display: inline-block;
    min-width: 19px;

    height: 19px;
    line-height: 19px;
    text-align: center;
    border: solid 1px #ddd;
    font-family: simsun;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1px;
}

.ui_pageSmall a:visited {
    color: #666;
}

.ui_pageSmall a:hover {
    color: #333;
    text-decoration: none;
}

.ui_pageSmall a.dis {
    background: #EFEFEF;
    color: #999;
    cursor: default;
}

.ui_pageSmall a.dis:visited {
    color: #999;
}

.ui_pageSmall a.dis:hover {
    color: #999;
}




input.btn {
    background: url(../images/btn.png);
    width: 70px;
    height: 26px;
    text-align: center;
    border: none;
    cursor: pointer;
}

top: -8px;





}

.ui_quantity {
    height: 21px;
    padding-right: 20px;
    position: relative;
    width: 50px;
}

.ui_quantity_plus,
.ui_quantity_redu {
    background: url("../images/ui_quantity.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}

.ui_quantity_redu {
    background-position: -15px 0;
    top: 11px;
}

.ui_quantity_txt {
    border: 1px solid #DDDDDD;
    height: 17px;
    text-align: center;
    width: 50px;
}



.ui_access a {
    color: #03f;
    margin-right: 10px;
}

.ui_access a:visited {
    color: #03f;
}

.ui_access a:hover {
    color: #03f;
}

a.ui_access {
    color: #3366CC;
    margin-right: 10px;
    white-space: nowrap;
}

a.ui_access:visited {
    color: #3366CC;
}

a.ui_access:hover {
    color: #3366CC;
}

.sl_sitenav .mobile {
    width: 58px;
}

.sl_sitenav .mobile b {
    right: 0px
}

.sl_sitenav .help {
    width: 86px;
}

.sl_sitenav .help .menu {
    position: relative;
    height: 25px;
    zoom: 1;
    padding: 0 0 0 10px;
    width: 70px;
    z-index: 992;
}

.sl_sitenav .help .menu_hd b {
    position: absolute;
    right: 6px;
    top: 10px;
    display: block;
    width: 10px;
    height: 5px;
    overflow: hidden;
    background: url(../images/sl_sitenav_3.png) no-repeat 0 0px;
    cursor: pointer;
    -moz-transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .15s ease-in;
}

.sl_sitenav .help .menu_hd span {
    position: absolute;
    right: -2px;
    top: 8px;
    display: block;
    width: 2px;
    height: 10px;
    overflow: hidden;
    background: url(../images/sl_sitenav_3.png) no-repeat -10px 0;
}

.sl_sitenav .help .menu_bd {
    display: none;
    border: 1px solid #CCC;
    background: #FFF;
    border-top-width: 0;
    width: 58px;
    padding: 0 10px;
    position: absolute;
    top: 26px;
    left: -1px;
    zoom: 1
}

.sl_sitenav .help .menu_bd a:hover {
    color: #B40000
}

.sl_sitenav .help .menu_bd_curr {
    display: block;
    border: 1px solid #CCC;
    border-top: none;
    border-bottom-width: 0;
    background: #FFF;
    padding-left: 9px;
    margin-top: -2px;
    padding-top: 2px;
}

.sl_sitenav .help .menu_bd_curr b {
    top: 12px;

    _right: 5px
}

.sl_sitenav .help .menu_bd_curr .menu_bd_curr {
    top: 26px;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-left: 11px
}

.sl_sitenav .help .menu_bd_curr .menu_hd span {
    background: none;
}

.sl_sitenav .quickmenu {
    float: right;
    padding-top: 2px;
    line-height: 25px;
    *width: 494px
}