.category .category_bd {}

.category .category_hd a b {
    background-position: 0 0;
}

.sl_header .category_hover .category_hd a b {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.home_categoryPos {
    height: 250px;
}


/* ------------------------
gong gao 
--------------------  */

.home_groupbuy {
    height: 480px;
    overflow: hidden;
    background: #fff;
    background: rgba(255, 255, 255, 0.82);
}

.home_groupbuy_hd {
    position: relative;
    height: 36px;
    padding: 4px 10px 0px;
    background: #fff;
    border-bottom: 1px #e0e0e0 solid;
}

.home_groupbuy_title {
    background: url(../images/home_icon1.png) center center no-repeat;
    text-align: center;
    width: 150px;
}

.home_groupbuy_title a {
    color: #C7012C;
    font: normal 16px/26px "Microsoft Yahei", simhei;
    padding-left: 54px;
}

.home_groupbuy_title a:hover {
    color: #C7012C;
    text-decoration: none;
}

.home_groupbuy a.ui_more {
    top: 10px;
}

.home_groupbuy_bd {
    padding: 3px 0 0;
    position: relative;
}

.home_groupbuy .img {
    margin: 0 auto;
    width: 228px;
    height: 220px;
    overflow: hidden;
}

.home_groupbuy .attribute {
    height: 33px;
    line-height: 33px;
    padding: 0 9px;
    overflow: hidden;
}

.home_groupbuy .time {
    float: left;
    width: 120px;
    overflow: hidden;
}

.home_groupbuy .time em {
    color: #c8120c;
    padding: 0 2px 0 1px;
}

.home_groupbuy .boughtnum {
    float: right;
    width: 90px;
    text-align: right;
    overflow: hidden;
}

.home_groupbuy .boughtnum em {
    color: #FD9A00;
}

.home_groupbuy_contain {
    height: 130px;
    overflow: hidden;
    padding-bottom: 5px;
}

.home_groupbuy_contain .list {
    padding: 14px 17px 35px 17px;
}

.home_groupbuy_bd .list {
    padding: 5px 20px 12px 25px;
}

.home_groupbuy .list dd {
    padding: 6px 0px 3px 0px;
    height: 12px;
    line-height: 16px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}

.list a:visited {
    color: #666
}

.list .hongse:link,
.list .hongse:hover,
.list .hongse:visited {
    color: #ff0000
}

.list a:hover {
    color: #ff0000
}

.home_groupbuy .list dt {
    padding: 10px 0px 0px 7px;
    height: 12px;
    line-height: 16px;
}


/* ---------------
.home_groupbuy:gonggai
------------------------  */

.V980 .home_groupbuy .img {
    margin: 0 auto;
    width: 228px;
    height: 301px;
    overflow: hidden;
}

.V980 .home_groupbuy .img img {
    width: 228px;
}

.V980 .home_groupbuy .attribute {
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 2px;
}

.V980 .home_groupbuy .boughtnum {
    width: 90px
}

.V980 .home_groupbuy .time {
    width: 115px;
}



/*-----------------*/

.time-show {
    background: url(../images/time-bj.png) no-repeat center top;
    width: 227px;
    height: 149px;
    position: absolute;
    left: 1%;
    top: 0px;
    z-index: 99
}

.clock p {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #000;
    line-height: 45px;
    position: absolute;
    left: 65px;
    top: 38px;
    height: 45px;
    font-weight: bold;
}

.clock form {
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    left: 18px;
    top: 20px;
    text-align: center;
    height: 25px;
    color: #000;
    font-weight: bold;
}

.clock form text {
    letter-spacing: 1px;
    height: 45px;
    line-height: 45px;
}

.clock input {
    background: url(../images/pig-bj1.png) no-repeat center top;
    width: 25px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 5px;
    font-weight: bold;
}


/*example*/


/*.example2{ position:relative}*/

.example2 ol {
    position: relative;
    width: 125px;
    height: 10px;
    top: -15px;
    left: 72px;
}

.example2 ol li {
    float: left;
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #fff;
}

.example2 ol li.seleted {
    background: #1AA4CA;
}



.luara-left {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.luara-left ul {
    position: relative;
    padding: inherit;
    margin: 0;
}

.luara-left ul li {
    float: left;
    padding: inherit;
    margin: inherit;
    list-style: none;
}

.luara-left ul li img {
    width: inherit;
    height: inherit;
}


.clock {
    position: absolute;
    left: 12%;
    top: 33px;
    z-index: 99;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #000;
}

.example2 ol li.seleted {
    background: #1AA4CA;
}

.foot_logo {
    position: relative;
    width: 1200px;
    height: 68px;
}

.foot_logo ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 63px;
    z-index: 1000;
}

.foot_logo ul li {
    width: 150px;
    height: 68px;
    float: left;
}

.foot_logo ul li a {
    background: url(../images/love.png) no-repeat right 4px;
    width: 150px;
    margin-right: 6px;
    height: 68px;
}

.foot_logo ul li:hover a {
    display: block;
    opacity: 1;
    z-index: 99
}

.foot_logo ul li:hover img {
    opacity: 0.5;
    -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
    transform: perspective(1000px) translate3d(0, 0, 21px);
}

.foot_logo ul li img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
    transform: perspective(1000px) translate3d(0, 0, 0);
}